* text=auto
*.cs text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.asmdef text eol=lf
*.json text eol=lf
*.md text eol=lf
*.png binary
*.wav binary
Assets/Art/NinjaAdventure/LICENSE.txt -text
Assets/Art/NinjaAdventure/SOURCE_README.md -text
